@import "tailwindcss";

@theme {
  --color-primary-50: oklch(0.97 0.014 254);
  --color-primary-500: oklch(0.6 0.18 254);
  --color-primary-900: oklch(0.32 0.12 254);

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
